Languages/TypeScript/der.ts
Languages/TypeScript/generated
Languages/TypeScript/dist 

Languages/Go/chat_xseries
Languages/Go/chat


Languages/der-java/
Languages/Java/der.java/
Languages/Java/src/main/java/com/generated/asn1/
Languages/Java/.gradle/
Languages/Java/build
java_test_data/


test_openssl

*.txt
*.log
*.der 
*.beam
*.dump
*.crt
*.dem
.vscode/
