name: C99 OpenSSL Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install OpenSSL
      run: |
        brew install openssl
        echo "/opt/homebrew/opt/openssl@3/bin" >> $GITHUB_PATH
        echo "/usr/local/opt/openssl@3/bin" >> $GITHUB_PATH

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: '1.18'
        otp-version: '28'

    - name: Run C99 OpenSSL Tests
      run: make test-c99
    
    - name: Start CA server
      run: |
        git clone https://github.com/synrc/ca.git 
        cd ca
        mix deps.get > /dev/null 2>&1
        mix compile > /dev/null 2>&1
        mix run --no-halt &
        CA_PID=$!
        
        trap "kill $CA_PID" EXIT
        
        sleep 5s
        cd ..
        sleep 5s
        cd ..
        make verify-c99
        cd Languages/C99
        make c99_client
        ./c99_client
      