name: Java OpenSSL Tests

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test-java:
    env:
      ImageOS: ubuntu24
    name: Java Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install OpenSSL
      run: sudo apt-get install -y openssl

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '21'

    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: '1.18'
        otp-version: '28'

    - name: Rebuild Java
      run: make rebuild-java

    - name: Run Java OpenSSL Tests
      run: make test-java

    - name: Start CA server
      run: |
        git clone https://github.com/synrc/ca.git 
        cd ca
        mix deps.get > /dev/null 2>&1
        mix compile > /dev/null 2>&1
        mix run --no-halt &
        CA_PID=$!
        
        trap "kill $CA_PID" EXIT
        
        sleep 5s
        cd ..
        sleep 5s
        cd ..
        make verify-java
        cd Languages/Java
        ./gradlew run --args="request-ca"